<div class="jumbotron">
    <h1 class="display-3">ZONA PRIVADA!</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam, molestiae deserunt ad quos, fugiat architecto natus aliquid hic ducimus explicabo dolorum quis harum quibusdam recusandae nesciunt doloribus adipisci labore.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio temporibus sed odit incidunt vel quidem sunt, reprehenderit alias aspernatur voluptatibus rerum! Alias, sit perferendis obcaecati earum quibusdam dignissimos optio libero.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>