<img src="https://www.amzer.com/images/pg-not-foud-img.png" class="img-fluid float-left" alt="Responsive image">
<div class="jumbotron">
  <h1 class="display-3">Error 404</h1>
  <p class="lead">La página que solicitó no fue encontrada.</p>
  <hr class="my-4">
  <p>Las casas vuelan y las páginas a veces también lo hacen. Lo que estás buscando ya no se encuetra en esta página :(</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">
      Volver al inicio
    </a>
  </p>
</div>